<footer class="ph3 pv4" style="background-color:black">

	<div class="mw7 center pt3">



		<div class="flex-ns justify-between">

			<div class="cell small-12 medium-4 text-left">

				<ul class="mb3_menu">
					<li><a href="/index.html" class="link">Accueil</a></li>
					<li><a href="/products" class="link">La carte</a></li>
					<li><a href="/values" class="link">Nos produits</a></li>
					<!--<li><a href="/post" class="link">Nos actualités</a></li>-->
					<li><a href="/contact" class="link">Contact</a></li>
					<li><a href="https://www.lafourchette.com/restaurant/chez-marcel/313f4a77-d24b-405a-b2ab-31196a4a10f7" class="link">Réservation</a></li>
				</ul>
			</div>

			<div class="cell small-12 medium-4 text-center">


					<!--<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">-->
					<p class="style">Newsletter</p>
					<p class="style-2">Get awesome news from us in your inbox every two weeks.</p>

					{{ partial "newsletter-form" . }}

			<!--	<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>-->
			</div>

			<div class="cell small-12 medium-4 text-center">
				<!--<h3 class="f4 b lh-title mb2 primary">Social media</h3>-->
				<ul class="mb3">
					<li>{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}</li>
					<li>{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}</li>
					<li>{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}</li>
					<!--<li>{{ partial "social-icon" (dict "link" "#" "svg" "icons-pinterest") }}</li>-->
				</ul>
			</div>

		</div>
		<hr>
		<div class="flex-ns justify-between">
			<div class="cell small-12 medium-4 text-left">
				 <p class='copyright'>© 2018 Nago</p>

			</div>
				<div class="cell small-12 medium-4"></div>
				<div class="cell small-12 medium-4 text-right">

						 <img src="../img/bicycle.svg"  class="bike_footer" style="width: 50px">
				</div>
			</div>
	</div>

</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
