<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">
		<div class="ph1-ns" style="width:50%">
			<img src="../img/burger.jpg">
		</div>

		<div class="ph1-ns" style="width:50%">
			<img src="../img/products-grid3.jpg">
		</div>

		<div class="w-100 ph1-ns" style="margin: 10px 0 10px 0">
			<img src="../img/brunch.jpg">
		</div>

		<div class="ph1-ns" style="width:50%">
			<img src="../img/dessert.jpg">
		</div>

		<div class="ph1-ns" style="width:50%">
			<img src="../img/products-grid2.jpg">
		</div>
	</div>

</div>
