<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">
		<div class="ph1-ns" style="width:50%">
			<img src="../img/burger.jpg">
			<!--<img src="{{ .image1.image }}" alt="{{ .image1.alt }}">-->
		</div>

		<div class="ph1-ns" style="width:50%">
			<img src="../img/products-grid3.jpg">
			<!--<img src="{{ .image2.image }}" alt="{{ .image2.alt }}">-->
		</div>

		<div class="w-100 ph1-ns" style="margin: 10px 0 10px 0">
			<img src="../img/brunch.jpg">
			<!--<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">-->
		</div>

		<div class="ph1-ns" style="width:50%">
			<img src="../img/dessert.jpg">
			<!--<img src="{{ .image4.image }}" alt="{{ .image3.alt }}">-->
		</div>

		<div class="ph1-ns" style="width:50%">
			<img src="../img/products-grid2.jpg">
			<!--<img src="{{ .image5.image }}" alt="{{ .image3.alt }}">-->
		</div>

	</div>

</div>
