/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_footer';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';

/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/

.bg{
  background-color: #000000 !important;
}
.bg-primary{
  background-color: transparent !important;
}

.navbar-brand{
  color: white !important;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 6px;
  font-size: 12px;
  font-family: 'Unica One', cursive!important;
  font-weight: normal;
  color: white !important;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 25px;
  color: white !important;
  font-family: 'Unica One', cursive!important;
}

.bike {
  margin-top: -20px;
  margin-left: -10px;
  width: 110px;
}

.navbar.navbar-2 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff')!important;
  }

.nav-link {
  color: #fff !important;
}

.menu {
  text-transform: uppercase;
  color: white;
  margin-left: 15px;
  font-size: 17px;
}
ul.navbar-nav {
  margin-left: 17px;
  font-size: 18px;
}

a.nav-link:hover{
  text-decoration: underline;
}
a.menu:hover{
  color:white;
}
p {
  font-size: 18px;
}

.w-100 {
  width: 50% !important;
}

ul a:hover{
  color: grey;
}

.btn {
  background-color: #ebe7e6!important;
  border-radius: .25rem!important;
  color: black!important;
  display: inline-block!important;
  font-size: 16px!important;
  font-weight: 400!important;
  line-height: 1.25!important;
  padding: 14px 16px 10px!important;
  text-align: center!important;
  text-decoration: none!important;
  margin: 0rem!important
}

p.style{
  color:#9b9696!important;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 0.5rem
}
p.style-2{
  color:#9b9696!important;
  margin-bottom: 1rem

}

h2.gg{
  color: #d3968c!important;
  text-align: center
}

.d12{
  width:50%!important;
}

@media screen and (max-width: 30em) {
  h2.gg{
    font-size: 1.5rem!important;
    margin-bottom: 1.5rem;
    }

  h2{
    font-size: 1.5rem!important;
    }

    .navbar-toggler{
      margin-left: -12px;
    }

    ul.navbar-nav {
      margin-left: 0px;
      font-size: 18px;
    }

    .full {
      height: 300px!important;
    }

    .pv4 {
      padding-bottom: 1rem;
    }

    .d12{
      width:100%!important;
      margin-top: 10px;
    }
}

hr{
  border-top: 1px solid #808080!important;
}
.full {
  height: 500px;
}
